.DS_Store
.build/
DerivedData/
Packages/
xcuserdata/
*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.ipa
*.dSYM.zip
*.dSYM
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
build/
